---
const pageTitle = "About Me";
const identity = {
	firstName : "Tapos",
	country : "Bangladesh",
	occupation : "Web Developer",
	hobbies : ["Music", "Literature", "Guitar", "Food"]
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Next"];
const enjoying = true;
const completed = false;
const target = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>{pageTitle}</h1>
        <h2>A Few Facts About Myself</h2>
		<ul>
			<li>My name is {identity.firstName}</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}</li>
			{identity.hobbies.length >= 2 &&
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			}
		</ul>
		<h2>My Skills</h2>
		<ul>
			{skills.map((skill)=> <li>{skill}</li>)}
		</ul>
		{enjoying && <p>I am happy to be learning Astro!</p>}
		{completed && <p>I finished this tutorial!</p>}
		{target === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</body>
</html>
