---
const {frontmatter} = Astro.props;
import Footer from "../components/Footer.astro";
---

<h1>{frontmatter.title}</h1>
<h4>Written By: {frontmatter.author}</h4>
<p>Published On: {frontmatter.pubDate.toString().slice(0,10)}</p>
<h4><em>{frontmatter.description}</em></h4>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt}/>
<h4>Tags:{frontmatter.tags.map((tag)=> <li>{tag}</li>)}</h4>
<slot />
<Footer />